{% extends 'leads/base.html' %}


{% block content %}
<div class="container">
    <div class="row">
        {% if lead_list %}
        {% for lead in lead_list %}
            <div class="col-lg-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lead # {{ lead.id }}: {{ lead.lead_title }}</h3>
                        input
                    </div>
                    <div class="panel-body">
                        {{ lead.lead_text }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}

    </div>
    <div class="alert alert-dismissible alert-danger">
        Leads are not available!
    </div>
    {% endif %}
</div>
{% endblock  %}